.box {
    border: 2px solid;
    margin: 1%;
    padding : 1%;
}
.square {
    border: 2px solid;
    margin: 1%;
}
.blue {
    background-color: #eeeeff80;
    border-color: #9999ee;
}
.red {
    background-color: #ffeeee80;
    border-color: #ee9999;
}
.green {
    background-color: #eeffee80;
    border-color: #99ee99;
}
.glass {
    background-color: #ffffff00;
    border-color: #ffffff00;
}
.sect {
    background-color: #00000010;
    border-color: #00000020;
}
.table {
    background-color: #00000040;
    border: 2px solid #00000080;
}
.centering{
    text-align:center;
}
.streach95{
    width : 95%;
    height : 95%;
}
.wid95{
    width: 95%;
}
.wid45 {
    width: 45%;
}
.parent {
    display: flex;
}
.parent > div{
    width:45%;
}